:root {
    --Fonttitle: 'Days one', sans-serif;
    --fuenteparrafo:'Open sans', sans-serif;
    --color1: #111111;
    --color2: #CA2222;
    --color3: rgb(35, 37, 35);
    --white: #ffffff;
    --negro: #000;
   
}
html {
    box-sizing: border-box;

}

*, *:before, *:after {
    box-sizing: inherit;
}

/*Globales*/
body{ 
    background-color: var(--color1);
    color: var(--white);
    min-width: 100px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: var(--fuenteparrafo);
    overflow-x: hidden;
}

ol,ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

h1, h2, h3, h4{
    color: var(--white);
    line-height: 1.5;
}

/*menu*/

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 32px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    
}

.menu_header img{
    height: 100px;
}

.menu_list{
    display: inline-flex;
    gap: 1rem;
}

/*hero*/

.hero {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 100px;
}

/*.hero_div{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 100px;
}*/

.hero_profile{
    align-items: center;
    max-width: 88%;
}

.hero_description{
    align-items: center;
}
.hero_bio{
    font-size: 19px;
    font-weight: bold;
    color: var(--color2);
}
.hero_subbio{
    line-height: 2;
}
.hero_bio_ocupacion{
    font-size: 40px;
    font-family: var(--Fonttitle);
    font-weight: bold;
}

.hero_network{
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 20px;
}

.hero_network_item img {
    height: 45px;
    gap: 1rem;
}

/*Sobre mi*/

.me{
    max-width: 95%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 11rem;
    
    
}
.me_div{
 background-color: var(--color3);
 padding: 2rem;
 margin: 1rem;
}
.me_title{
    font-family: var(--Fonttitle);
    font-size: 30px;
    font-weight: bold;
}

/*skills*/

.skills{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.skills_line{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    
}

.skills_blocks{
    display: flex;
    justify-content: center;
    width: 95px;
    flex: 1 0 200px;
    text-align: center;
    background-color: var(--color3);
    padding: 20px;
}

.skills_img img{
    height: 88px;
}

.skills_title{
    font-family: var(--Fonttitle);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.skills_title_number{
    color: var(--color2);
}
.skills_name{
    margin: 1rem;
    font-size: 18px;
    font-weight: bold;
}

/*experiencia*/

.experience{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8rem;
    padding: auto;
}

.experience_title{
    font-family: var(--Fonttitle);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.experience_line{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    padding: 0 25px;
    min-width: 100%;
}

.experience_box{
   padding: 3rem 4rem;
   font-size: 30px;
   margin-bottom: 2rem;
}
.experience_img{
    width: 600px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    
}
.experience_back{
    background-color: var(--color3);
    padding: 3rem 4rem;
    margin-bottom: 10px;
   
}

.experience_info{
   font-size: 25px;
}
.experience_info a{
    color: var(--color2);
}
.experience_box h2{
    font-family: var(--Fonttitle);
}

/*academia*/
.academy{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: auto;
    max-width:100%;
    background-color: var(--color3);

}

.academy_container{
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    padding: 2rem;
    
}

.academy_box{
    display: flex;
    text-align: left;
    
}

.academy_item_img img {
    width: 400px;
    height: 280px;
    object-position: center;
}

.academy_title{
    font-size: 50px;
    font-family: var(--Fonttitle);
}

.academy_item_title{
    font-size: 25px;
}

/*Contacto*/

.contactof{
    max-width: 100%;
}

.contactof_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem;
}
.contactof_text{
    background-color: var(--color3);
    margin-top: 2rem;
    padding: 2rem;
}

.contactof_text h2{
    font-size: 40px;
    font-family: var(--Fonttitle);
}
.contactof_form{
    max-width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.contactof_fields{
    flex: 1 1 0%;
    background-color: var(--color3);
    border-width: 1px;
    border-style: inset;
    padding: 1rem;
    color: var(--white);
}

.contactof_button{
    text-align: center;
    max-width: 200px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1rem 3rem;
    font-family: var(--Fonttitle);
    background-color: var(--color2);
    color: var(--white);   
    border-width: initial;
    border: none; 
    cursor: pointer;
}

::placeholder{
    color: rgba(225, 225, 225, 0.85);
    font-size: 16px;

}
/*Footer*/

.footer{
    max-width: 100%;
    margin-top: 5rem;
}

.footer_text{
    text-align: center;
    font-size: 20px;
}